* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pagina {
    width: 100%;
    background-color: transparent;
    margin: auto;
    font-family:  'Lato', sans-serif;
}

.nav-bar {
    width: 100%;
    height: 65px;
    position: relative;
    background-color: #F3F4FA;
    padding: 0 10%;
    border-bottom: 1px solid dimgrey;
}

.nav-bar::after {
    content: "";
    display: block;
    clear: both;
}

.nav-bar-left {
    width: 25%;
    height: 100%;
    background-color: transparent;
}

.nav-bar-left li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    line-height: 60px;
}

.nav-bar-left a {
    text-decoration: none;
    color: #000;
    font-size: 20x;
}

.nav-bar-right {
    width: 28%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10%;
    background-color: transparent;
    display: inline-block;
    float: right;
}

.nav-bar-right li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    line-height: 60px;
}

#cerca {
    color: dodgerblue;
    font-size: 20x;
}

#login {
    padding: 10px 25px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #FF7A59;
    background-color: #fff;
    font-size: 20x;
}

#free {
    padding: 10px 20px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    font-size: 20x;
}

#english {
    border-right: 1px solid #000;
}

.head-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/jumbotron.png);
    background-position: 40% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.titolo {
    width: 40%;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}

h1 {
    font-size: 50px;
    color: dimgrey;
}

h3 {
    font-size: 16px;
    color: dimgray;
    font-weight: 400;
    margin-top: 5%;
}

h4 {
    font-size: 14px;
    color: dimgray;
    font-weight: 400;
    margin-top: 5%;
}

#free2 {
    padding: 15px 30px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    margin-top: 5%;
}

.menu {
    width: 80%;
    height: 50px;
    margin: 10px 10%;
    position: relative;
}

.menu ul {
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    color: dimgray;
}

#logo {
    vertical-align: middle;
}