* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pagina {
    width: 100%;
    background-color: #F3F4FA;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;, sans-serif;
    color: #33475B;
}

.nav-bar {
    width: 100%;
    height: 65px;
    position: relative;
    background-color: #F3F4FA;
    padding: 0 10%;
    border-bottom: 1px solid #33475B;
}

.nav-bar::after {
    content: "";
    display: block;
    clear: both;
}

.nav-bar-left {
    width: 25%;
    height: 100%;
    background-color: transparent;
}

.nav-bar-left li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    line-height: 60px;
}

.nav-bar-left a {
    text-decoration: none;
    color: #000;
    font-size: 20x;
}

.nav-bar-right {
    width: 24%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10%;
    background-color: transparent;
    display: inline-block;
    float: right;
}

.nav-bar-right li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    line-height: 60px;
}

#cerca {
    color: dodgerblue;
    font-size: 20x;
}

#login {
    padding: 10px 25px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #FF7A59;
    background-color: #fff;
    font-size: 20x;
}

#free {
    padding: 10px 20px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    font-size: 20x;
}

#english {
    border-right: 1px solid #000;
    padding-left: 0;
}

.head-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/jumbotron.png);
    background-position: 40% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 3px solid #33475B;
}

.titolo {
    width: 30%;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}

h1 {
    font-size: 50px;
    color: #33475B;
}

h3 {
    font-size: 16px;
    color: #33475B;
    font-weight: 400;
    margin-top: 5%;
}

h4 {
    font-size: 14px;
    color: #33475B;
    font-weight: 400;
    margin-top: 5%;
}

#free2 {
    padding: 15px 30px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    margin-top: 5%;
}

.menu {
    width: 80%;
    height: 50px;
    margin: 10px 10%;
    position: relative;
}

.menu ul {
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    color: #33475B;
}

#logo {
    vertical-align: middle;
}

.slogan {
    width: 80%;
    height: 250px;
    margin: 3% 10%;
    text-align: center;
    line-height: 25px;
}

.slogan h4 {
    margin-top: 2%;
}

#cubo {
    width: 200px;
}

.free-hubspot {
    width: 70%;
    height: 250px;
    margin: 20px 15%;
    background-color: #fff;
    padding: 3%;
    border: 2px solid lightblue;
    border-radius: 5px;
}

#left-sect {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

#crm {
    width: 150px;
}

#info {
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    padding: 5% 10%;
    margin-top: 10px;
    background-color: #FF7A59;
}

#right-sect {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left;
    line-height: 25px;
}

#right-sect h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

#right-sect h4 {
    font-size: 16px;
}

#right-sect li {
    display: inline-block;
    font-size: 14px;
    padding: 3% 3% 0 0;
}

.fas {
    color: #FF7A59;
}
