* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pagina {
    width: 100%;
    background-color: #F3F4FA;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;, sans-serif;
    color: #33475B;
}

.nav-bar {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #F3F4FA;
    padding: 0 10%;
    border-bottom: 1px solid #33475B;
}

.nav-bar::after {
    content: "";
    display: block;
    clear: both;
}

.nav-bar-left {
    width: 25%;
    height: 100%;
    background-color: transparent;
}

.nav-bar-left li {
    list-style: none;
    display: inline;
    padding: 0 20px;
    line-height: 60px;
}

.nav-bar-left a {
    text-decoration: none;
    color: #33475B;
    font-size: 14px;
}

.nav-bar-right {
    width: 24%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10%;
    background-color: transparent;
    display: inline-block;
    float: right;
}

.nav-bar-right li {
    list-style: none;
    display: inline;
    padding: 0 10px;
    line-height: 60px;
}

#login {
    padding: 10px 25px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #FF7A59;
    background-color: #fff;
    font-size: 20x;
}

#free {
    padding: 10px 20px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    font-size: 20x;
}

#english {
    border-right: 1px solid #000;
    padding-left: 0;
}

.head-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../img/jumbotron.png);
    background-position: 40% 80%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 3px solid #33475B;
}

.titolo {
    width: 40%;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 10%;
}

h1 {
    font-size: 50px;
    color: #33475B;
}

h3 {
    font-size: 16px;
    color: #33475B;
    font-weight: 400;
    margin-top: 5%;
    line-height: 30px;
}

h4 {
    font-size: 14px;
    color: #33475B;
    font-weight: 400;
    margin-top: 5%;
}

.free2 {
    padding: 15px 30px;
    border: 1px solid #FF7A59;
    border-radius: 3px;
    color: #fff;
    background-color: #FF7A59;
    margin-top: 5%;
}

.menu {
    width: 80%;
    height: 10px;
    margin: 65px 10%;
    position: relative;
}

.menu ul {
    width: 50%;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    float: left;
    padding: 0 20px;
    line-height: 70px;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    color: #33475B;
}

#logo {
    position: absolute;
    top: 35px;
    left: 55px;
    transform: translate(-50%, -50%);
}

.slogan {
    width: 80%;
    height: 250px;
    margin: 3% 10%;
    text-align: center;
    line-height: 25px;
}

.slogan h4 {
    margin-top: 2%;
}

#cubo {
    width: 200px;
}

.free-hubspot {
    width: 70%;
    height: 280px;
    margin: 20px 15%;
    background-color: #fff;
    padding: 3%;
    border: 2px solid lightblue;
    border-radius: 5px;
}

#left-sect {
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

#crm {
    width: 150px;
}

#info {
    border: 1px solid #FF7A59;
    border-radius: 5px;
    color: #fff;
    padding: 5% 10%;
    margin-top: 10px;
    background-color: #FF7A59;
}

#right-sect {
    width: 70%;
    height: 100%;
    display: inline-block;
    float: left;
    line-height: 25px;
}

#right-sect h3 {
    font-size: 20px;
    margin: 0 0 20px;
}

#right-sect h4 {
    font-size: 16px;
}

#right-sect li {
    display: inline-block;
    font-size: 14px;
    padding: 3% 3% 0 0;
}

.fas {
    color: #FF7A59;
    margin-right: 5px;
}

.black {
    color: #000;
}

.blue {
    color: dodgerblue;
    font-size: 20x;
}

.soluzioni {
    width: 70%;
    height: 550px;
    margin: 40px 15%;
    line-height: 25px;
    font-size: 12px;
}

.soluzioni::after {
    content: "";
    display: block;
    clear: both;
}

.soluzioni h3 {
    font-size: 20px;
    margin-bottom: 5%;
}

.soluzioni h4 {
    margin: 10% 0 5%;
}

.soluzioni p {
    min-height: 120px;
}

.sol-sect {
    width: calc(90%/3);
    height: 100%;
    padding: 2%;
    display: inline-block;
    float: left;
    text-align: center;
    border: 2px solid lightblue;
    border-radius: 5px;
    background-color: #fff;
}

#sol-cent {
    margin-left: 5%;
    margin-right: 5%;
}

.sol-img {
    width: 100px;
    min-height: 120px;
}

hr {
    width: 200px;
    margin: 5% auto;
}

.feature {
    text-align: left;
    margin-top: 5%;
}

.feature li {
    list-style: none;
    line-height: 16px;
}

.info2 {
    border: 1px solid #FF7A59;
    border-radius: 5px;
    padding: 5% 10%;
    margin-top: 15%;
    color: #fff;
    background-color: #FF7A59;
}

.tabella-verde {
    width: 100%;
    height: 700px;
    color: #fff;
    background-color: #00B0B2;
    text-align: center;
}

.descrizione {
    height: 200px;
    padding: 5%;
    font-size: 18px;
}

.descrizione p {
    margin-top: 20px;
    font-size: 13px;
    line-height: 22px;
}

.line-one {
    width: 70%;
    height: 170px;
    margin: 50px auto 0;    
}

.line-one div {
    width: 230px;
    height: 170px;
    display: inline-block;
    float: left;
}

.line-two {
    width: 70%;
    height: 170px;
    margin: auto;
}

.line-two div {
    width: 230px;
    height: 170px;
    display: inline-block;
    float: left;
}

.top {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

#fourth-top {
    border-right: 0;
    border-bottom: 1px solid #fff;
}

.down {
    border-right: 1px solid #fff;
    position: relative;
}

#fourth-down {
    border: 0;
}

.containers2 {
    background-color: #fff;
}

.partners {
    width: 70%;
    height: 200px;
    margin: 70px 0 20px 20%;
}

.part-left {
    display: inline-block;
    float: left;
}

.part-left h2 {
    font-size: 40px;
}

.part-left h4 {
    line-height: 22px;
    font-size: 12px;
}

.part-right {
    width: 500px;
    display: inline-block;
    float: left;
    margin-left: 200px;
}

.part-logos {
    width: 100px;
}

.start {
    width: 70%;
    height: 400px;
    margin-left: 15%;
}

.start-left {
    width: 450px;
    display: inline-block;
    float: left;
}

.start-left h2 {
    font-size: 30px;
}

.start-left p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 30px;
}

.start-left h4 {
    font-size: 12px;
    margin-top: 40px;
}

.start-right {
    width:  150px;
    display: inline-block;
    float: left;
    margin-left: 200px;
}

#woman {
    width: 250px;
}

footer {
    width: 100%;
    height: 500px;
    padding-top: 3%;
    background-color: #33475B;
}

.container3 {
    width: 900px;
    height: 350px;
    margin: auto;
    border-bottom: 1px solid #EAF0F6;
}

.foot-sect {
    width: 200px;
    height: 300px;
    display: inline-block;
    float: left;
    color: #fff;
    margin-right: 20px;
}

h5 {
    font-size: 14px;
    margin-bottom: 20px;
}

#support {
    padding: 4%;
    border: 1px solid #EAF0F6;
    border-radius: 5px;
    background-color: #EAF0F6;
    color: #33475B;
    margin: 10px 0 10px;
}

footer li {
    list-style: none;
    font-size: 12px;
    line-height: 30px;
    color: #F3F4FA;
}

.fab {
    font-size: 14px;
    margin-right: 22px;
}

.lingua {
    width: 400px;
    margin: auto;
    background-color: yellow;
}

.lingua li {
    display: inline-block;
    float: left;
    padding: 0 2%;
}

.lingua a {
    text-decoration: none;
    color: #fff;
}

.number  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.number-txt {
    width: 150px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #fff;
}

.symbol {
    margin-top: 30px;
}

#app {
    width: 150px;
}